/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/private-documents
/storage/app/imports
/storage/app/import-errors
/storage/app/tmp
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.*
!.env.example
composer.phar
npm-debug.log*
yarn-error.log*
.DS_Store
.idea
.vscode

.env
/vendor
/node_modules
.phpunit.result.cache
/.well-known
php.ini
.user.ini
